$blanco: #fff;
$fondo: #191970;
$transicion: .3s ease all;
$border-radius: 0.31em;
$boton-padding: 0.93em 1.87em;
$body-id: "body";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#{$body-id} {
  background: #{$fondo};
  font-family: 'Open Sans', sans-serif;

  .contenedor {
    width: 80%;
    margin: auto;
  }

  header {
    padding: 30px 0;

    .logo {
      font-family: 'Righteous', cursive;
      font-weight: normal;
      color: #{$blanco};
      font-size: 60px;
      margin-bottom: 0.5em;

      @media screen and (max-width: 800px) {
        margin-bottom: 10px;
        font-size: 30px;
      }
    }
  }

  .pelicula-principal {
    font-size: 16px;
    min-height: 40.62em;
    color: #{$blanco};
    background: linear-gradient(rgba(0, 0, 0, .20) 0%, rgba(0,0,0,.20) 100%), url(../img/portada.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;

    .contenedor {
      margin: 0 auto;
      margin-bottom: 1.25em;
    }

    .titulo {
      font-weight: 600;
      font-size: 3.12em;
      margin-bottom: 0.4em;
    }

    .descripcion {
      font-weight: 600;
      font-size: 2.2em;
      margin-bottom: 0.5em;
      max-width: 100%;

      @media screen and (max-width: 800px) {
        font-size: 30px;
      }
    }

    $boton-color: #{$blanco};
    .boton {
      background: rgba(0,0,0, 0.5);
      border: none;
      border-radius: #{$border-radius};
      padding: #{$boton-padding};
      color: $boton-color;
      margin-right: 1.25em;
      cursor: pointer;
      font-size: 1.12em;
      transition: $transicion;

      &:hover {
        background: $boton-color;
        color: #000;
      }

      i {
        margin-right: 1.25em;
      }
    }
  }

  $cartelera-font-size: 50px;
  @media screen and (max-width: 800px) {
    $cartelera-font-size: 30px;
  }
  .cartelera {
    font-family: 'Righteous', cursive;
    font-weight: normal;
    color: #{$blanco};
    font-size: $cartelera-font-size;
    margin-bottom: 0.5em;
  }
}
